<%- include("header") -%>
<div style="text-align: center">
  <h1>About</h1>
  <h2>Ashutosh Kumar</h2>
  <h2>Mobile no.-8404832993</h2>
  <h2>Email id-ashutoshkr24012001@gmail.com</h2>
</div>
<%- include("footer") -%>
